{% extends "Client/partial/main.html" %} {% block main %}
<div class="content question">
    <input type="hidden" id="id" value="{{ id }}">
    <div class="row">
        <div class="detail">
            <div class="">
                <div class="title"></div>
                <div class="author"></div>
            </div>
            <div class="">
                <div class="question-content markdown-body"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/moment.min.js"></script>
<script type="text/javascript" src="/default/assets/js/Client/detail.js"></script>
{% endblock %}