{% extends "Client/partial/main.html" %} {% block main %}
<div class="content">
    <div class="row">
        <ul class="ul-content">
            <li>
                <div class="title-section clearfix">
                    <div class="title">
                        <a href="111">成都垣坤装饰怎么样</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="title-section clearfix">
                    <div class="title">
                        <a href="111">成都垣坤装饰怎么样</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/Client/index.js"></script>
{% endblock %}