body {
    background-color: #e5e4da;
}

header,
footer,
.container,
.header-content {
    margin: 0 auto;
    width: 100%;
    /* background-color: #fff; */
}

footer {
    border-top: 1px solid #ccc;
    padding: 20px;
}

ul.ul-content,
ol.ol-content,
li.contentDetail {
    list-style: none;
}

/* 
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
} */

table {
    *border-collapse: collapse;
    /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

table {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /*-webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;   */
}

table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

table td,
.table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    /*-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
    border-top: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    padding: 5px;
}

table td:first-child,
table th:first-child {
    border-left: none;
}

table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

table th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

header {
    height: 86px;
    /* background-color: #f60; */
}

.header-content {
    padding: 0 5px;
}

.header-content .logo {
    width: 100%;
    text-align: center;
}

.header-content .logo a:hover {
    text-decoration: none;
    color: #f60;
}

.header-content .search {
    width: 100%;
    position: relative;
    margin-top: 6px;
    margin-left: 0;
}

.container .content {
    margin: 0 auto;
    background-color: #fff;
}

.header-content {
    /* background-color: #f60; */
    color: #8d6e63;
    font-size: 20px;
    line-height: 46px;
}

.container .content ul.ul-content,
.question.content .detail {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.container .content ul.ul-content li .content,
.question.content .detail .question {
    width: 100%;
    font-size: 18px;
    padding: 0;
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
    header {
        height: 46px;
    }
    .header-content {
        padding: 0;
    }
    .header-content .logo {
        width: auto;
        text-align: left;
    }
    .header-content .search {
        width: 400px;
        position: relative;
        margin-top: 6px;
        margin-left: 20px;
    }
}

@media (min-width: 710px) {
    .container .content ul.ul-content {
        width: 670px;
    }
    .container .content ul.ul-content li .content,
    .question.content .detail .question {
        width: 670px;
    }
    .question.content .detail {
        width: 670px;
    }
}

@media (min-width: 960px) {
    .container .content {
        width: 960px;
        padding: 20px;
    }
    .header-content {
        width: 960px;
    }
}

.content-body {
    /* height: 90vh; */
    min-height: 100vh;
}

.header-content div {
    line-height: 46px;
}

.header-content a {
    color: #8d6e63;
}

.header-content .userinfo {
    font-size: 16px;
}

.header-content .question {
    /* margin-top: -2px; */
    margin-left: 10px;
    font-size: 16px;
}

.header-content .question a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* .header-content .search .form-control {} */

.header-content .search .btn {
    /* line-height: 34px; */
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
}

/* 
.container .content ul.ul-content {
     border-top: 1px solid #ddd;
    margin-top: 40px; 
} */

.container .content ul.ul-content li .content p,
.question.content .detail .question p {
    line-height: 1.8;
    overflow: hidden;
    margin: .8em 0;
    word-wrap: break-word;
    word-break: break-all;
}

.container .content ul.ul-content li.contentDetail {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 5px 0;
}

.container .content ul.ul-content li.contentDetail .title,
.question.content .detail .title {
    /* white-space: nowrap; */
    margin: 10px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #333;
    text-align: center;
}

.container .content ul.ul-content li.contentDetail .author,
.question.content .detail .author {
    text-align: center;
}

.container .content ul.ul-content li.contentDetail .title a {
    color: #333;
}

#loginForm {
    margin: 0 auto;
    width: 300px;
}

#loginForm .warning {
    color: red;
}

.ask.content #content,
.ask.content #author,
.question.content .comments #content {
    width: 100%;
    resize: none;
}

.question.content .comments {
    margin-top: 30px;
}

.question.content .comments .title {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.question.content .comments li.contentDetail {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    font-size: 14px;
}

.question.content .comments .tocomment {
    margin-top: 30px;
}

.question.content .comments li.contentDetail .title {
    border-bottom: 0;
    font-size: 12px;
    padding-bottom: 15px;
    color: #2e6da4;
}

.personal.content .left {
    width: 150px;
}

.personal.content .left li.contentDetail {
    /* background-color: #f4fef6; */
    /* border-bottom: 1px solid #ddd; */
    margin-left: -20px;
}

.personal.content .left li.contentDetail:hover {
    cursor: pointer;
}

.personal.content .main {
    padding-left: 30px;
    width: 760px;
    float: right;
    border-left: 1px solid #ddd;
}

.personal.content ul.ul-content {
    width: 100%;
    margin: 0 0;
}

.personal.content ul.list-content li.contentDetail .title-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px 0;
}

.personal.content ul.list-content li.contentDetail .title {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin: 0;
    /* float: left; */
}

.personal.content ul.list-content li.contentDetail .title .status {
    margin-right: 10px;
    color: #F59701;
}

#per_Question {
    border-bottom: 0;
}

.btn_link:hover {
    cursor: pointer;
    color: #f60;
    text-decoration: underline;
}