body {
    background-color: #fff;
}

header,
footer,
.container,
.header-content {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}

footer {
    border-top: 1px solid gray;
    padding-top: 20px;
}

ul,
ol,
li {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

@media (min-width: 360px) {
    .nav-bar-header {
        height: 112.5px;
    }
}

@media (min-width: 414px) {
    .nav-bar-header {
        height: 129.375px;
    }
}

@media (min-width: 540px) {
    .nav-bar-header {
        height: 168.75px;
    }
}

header {
    height: 46px;
    background-color: #086ed5;
}

.header-content {
    width: 960px;
    background-color: #086ed5;
    color: #fff;
    font-size: 30px;
    line-height: 46px;
}

.header-content .logo a:hover {
    text-decoration: none;
}

.container {
    min-height: 600px;
}

.container .content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

.header-content div {
    line-height: 46px;
}

.header-content a {
    color: #fff;
}

.header-content .userinfo {
    font-size: 16px;
}

.header-content .search {
    width: 400px;
    position: relative;
    margin-top: 6px;
    margin-left: 20px;
}

.header-content .question {
    margin-top: -2px;
    margin-left: 10px;
}


/* .header-content .search .form-control {} */

.header-content .search .btn {
    /* line-height: 34px; */
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
}


/* 
.container .content ul.ul-content {
     border-top: 1px solid #ddd;
    margin-top: 40px; 
} */

.container .content ul.ul-content li {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 5px 0;
}

.container .content ul.ul-content li:hover {
    background-color: #f4fef6;
}

.container .content ul.ul-content li .title {
    white-space: nowrap;
    margin: 10px 20px 10px 10px;
    height: 16px;
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 16px;
    color: #259;
    font-weight: 700;
}

#loginForm {
    margin: 0 auto;
    width: 300px;
}

#loginForm .warning {
    color: red;
}

.ask.content #content {
    width: 100%;
    resize: none;
}