<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ websiteTitle }}</title>
    <meta name="keywords" content="南通, C++, 软件开发, CCF, 信息学竞赛, 培训, 软件制作, C++学习, H5开发, 公众号, 小程序, 桌面软件, 开发">
    <meta name="description" content="南通本地的资深IT, 从事信息学竞赛培训, 同时可接软件开发的工作, 包括管理类软件、公众号、H5、小程序、桌面软件的开发">
    <link rel="stylesheet" href="/default/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/assets/css/Client/main.css">
    <link rel="stylesheet" href="/default/assets/css/formValidation.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.15/marked.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
</head>

<body>
    <div class="content-body">
        <header>
            <div class="clearfix header-content">
                <div class="logo pull-left">
                    <a href="/">{{ websiteTitle }}首页</a>
                </div>
                <div class="userinfo pull-right" style="margin-left:20px;">
                    <a target="_blank" style="margin-right:20px;" href="http://wpa.qq.com/msgrd?v=3&uin=793154762&site=qq&menu=yes">
                        编程学习咨询
                    </a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=793154762&site=qq&menu=yes">
                        软件咨询
                    </a>
                </div>
                <div class="question pull-right">
                </div>
            </div>
        </header>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </div>
    <footer class="text-center">
        <div>Copyright&copy;都市岛 2017, All Rights Reserved.</div>
        <div>苏ICP备16006365号</div>
    </footer>

    {% block modal %}{% endblock %}
    <div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-sm" style="" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="confirmModalLabel">确认</h4>
                </div>
                <div class="modal-body">
                    出错啦?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade bs-example-modal-sm" id="loadingIndicator" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-top: 50vh;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    加载中。。。
                </div>
            </div>
        </div>
    </div> -->
    <script type="text/javascript" src="/default/assets/js/Client/main.js"></script>
</body>

</html>