<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ websiteTitle }}</title>
    <link rel="stylesheet" href="/default/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/assets/css/Client/main.css">
    <link rel="stylesheet" href="/default/assets/css/formValidation.css">
    <script type="text/javascript" src="/default/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/default/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/default/assets/js/formValidation.js"></script>
</head>

<body>
    <div class="content-body">
        <header>
            <div class="clearfix header-content">
                <div class="logo pull-left">
                    <a href="/">{{ websiteTitle }}</a>
                </div>
                <div class="search pull-left">
                    <input type="text" id="txtSearch" value="{{ search }}" class="form-control" placeholder="Search for...">
                    <button class="btn btn-default" id="btnSearch" type="button">搜索</button>
                </div>
                <div class="userinfo pull-right" style="margin-left:20px;">
                    {% if user %}
                    <a href="/personal" style="margin-right:20px;">个人中心</a>用户: {{ user.name }}
                    <a href="/logout" style="margin-left:20px;">退出</a>
                    {% else %}
                    <a href="/login">登录</a> {% endif %}
                </div>
                <div class="question pull-right">
                    <button class="btn btn-default" id="btnAsk" type="button">提问</button>
                </div>
            </div>
        </header>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </div>
    <footer class="text-center">
        <div>Copyright&copy;都市岛 2017, All Rights Reserved.</div>
        <div>苏ICP备16006365号</div>
    </footer>

    {% block modal %}{% endblock %}
    <div class="modal fade bs-example-modal-sm" id="confirmModal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-sm" style="" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="confirmModalLabel">确认</h4>
                </div>
                <div class="modal-body">
                    出错啦?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="btnConfirmSave" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal fade bs-example-modal-sm" id="loadingIndicator" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" style="margin-top: 50vh;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    加载中。。。
                </div>
            </div>
        </div>
    </div> -->
    <script type="text/javascript" src="/default/assets/js/Client/main.js"></script>
</body>

</html>