{% extends "Server/partial/main.html" %} {% block left %} {% include "Server/partial/questionSetting.html" %} {%
endblock
%} {% block main %}
<div class="title">
    <h1>
        文章编辑
    </h1>
</div>
<div class="toolbar">
    <div class="toolbar-list">
        <button id="btnSave" class="btn btn-default btn-sm">保存</button>
    </div>
</div>
<div class="content">
    <input type="hidden" id="id" value="{{ id }}">
    <div class="row" style="margin:15px 0;">
        <div class="col-md-24">
            <div class="form-group">
                <label for="name" class="control-label">文章标题:</label>
                <input type="text" maxlength="50" class="form-control" name="name" id="name">
            </div>
        </div>
        <div class="col-md-24">
            <div class="form-group">
                <label for="description" class=" control-label">文章描述:</label>
                <input type="text" maxlength="50" class="form-control" name="description" id="description">
            </div>
        </div>
        <div class="col-md-24">
            <div class="form-group">
                <label for="author" class="control-label" style="display:block;">作者信息:</label>
                <textarea style="resize:none" maxlength="1000" id="author" name="author" placeholder="必填，详细填写作者和点评老师"
                    style="height: 78px;"></textarea>
            </div>
        </div>
        <div class="col-md-24">
            <div class="form-group">
                <label for="category" class="control-label">文章分类:</label>
                <select class="form-control" name="category" id="category">
                </select>
            </div>
        </div>
        <div class="col-md-24">
            <div class="form-group">
                <label for="content" class="control-label" style="display:block;">文章内容:</label>
                <textarea maxlength="20000" style="width:100%; height: 300px;" id="content" name="content" placeholder="选填，详细填写作者作文内容和点评"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal %}
<script type="text/javascript" src="/default/assets/js/moment.js"></script>
<script type="text/javascript" src="/default/assets/js/Server/questionEdit.js"></script>
{% endblock %}